{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <h4>Logs</h4>
            <div class="logs">
                <ul>
                    {% for msg in out %}
                        <li>{{ msg }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </article>
    <article class="media content-section">
        <div class="media-body">
            <h4>Requested Data</h4>
            <ul>
                {% for msg in cids %}
                    {% if active_link %}
                        <li><p><a href="http://localhost:8080/ipfs/{{ msg }}">{{ msg }}</a></p></li>
                    {% else %}
                        <li><p>{{ msg }}</p></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </article>
    {% if visual %}
    <form action="{{ url_for('visualize')}}" method="post">
        <input type="hidden" id="cids" name="cids" value="{{ cids }}">
        <a href="/query/visualize">
            <button>Visualze Data</button>
        </a>
      </form>
    {% endif %}
{% endblock content %}